


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu" !important;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  background-image: url("../public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.mono {
  font-family:"Roboto Mono" ;
}